@font-face {
  font-family: "Behemoth CG SemiCond";
  src: url(assets/Behemoth\ CG\ SemiCond\ Regular.otf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: black;
  width: 20%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: white;
    font-family: "Behemoth CG SemiCond", sans-serif;
    font-weight: 200;
    padding-left: 25px;
  }

  nav {
    padding-left: 25px;
    padding-top: 25px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 1rem;
    }

    .navItem {
      text-decoration: none;
      a {
        color: white;
        text-decoration: none;
        font-family: "Roboto Mono", sans-serif;
        text-decoration: none;
      }

      a:hover {
        color: gainsboro;
      }
    }
  }
}

main {
  height: 200vh;
  width: 80%;
  margin-left: 20%;

  .mainSection {
    height: 100vh;
    width: 100%;
    font-family: "Roboto Mono", sans-serif;
    color: white;

    background-image: url(assets/mainBg.gif);
    background-size: cover;

    div {
      padding: 20px;
    }
  }

  .tracksSection {
    width: 100%;
    height: 100vh;
    font-family: "Roboto Mono", sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
    justify-content: center;


    .trackList {
      margin-left: 30%;
    }

    ul {
      list-style: none;
      margin-top: 20px;

      li{

      }
    }

    div {
      padding: 20px;
    }
  }

  .toursSection{
    width: 100%;
    height: 100vh;
    font-family: "Roboto Mono", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: black;

    h3{
      margin-bottom: 5%;
    }

    .toursContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;

      .tour{
        text-align: end;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        border-radius: 8px;

        .tourTextContainer{
          text-align: end;
          padding: 5px;
        }
      }
    }

  }
}
