@font-face {
  font-family: "Behemoth CG SemiCond";
  src: url(assets/Behemoth\ CG\ SemiCond\ Regular.otf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  width: 10%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: width 0.3s ease;

  h1 {
    color: white;
    font-family: "Behemoth CG SemiCond", sans-serif;
    font-weight: 200;
    padding-left: 25px;
    width: 190px;
  }

  nav {
    padding-left: 25px;
    padding-top: 25px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 1rem;
    }

    .navItem {
      text-decoration: none;
      a {
        color: white;
        text-decoration: none;
        font-family: "Roboto Mono", sans-serif;
        text-decoration: none;
      }

      a:hover {
        color: gainsboro;
      }
    }
  }
}

#menu {
  display: none;
  flex-direction: column;
  margin-top: 20px;
}

#menuToggle:checked ~ header {
  width: 20%;
}

#menuToggle:checked ~ main {
  margin-left: 20%;
  width: 80%;
}

#menuToggle:checked ~ header #menu {
  display: flex;
  flex-direction: column;
}

.menu-open,
.menu-close {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  user-select: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateX(-20px);
  visibility: hidden;
}

.menu-open {
  display: block;
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}

#menuToggle:checked ~ header .menu-open {
  opacity: 0;
  transform: translateX(-20px);
  visibility: hidden;
}

#menuToggle:checked ~ header .menu-close {
  display: block;
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}

main {
  height: 200vh;
  width: 90%;
  margin-left: 10%;
  transition: width 0.3s ease, margin-left 0.3s ease;

  .mainSection {
    height: 100vh;
    width: 100%;
    font-family: "Roboto Mono", sans-serif;
    color: white;

    background-image: url(assets/mainBg.gif);
    background-size: cover;

    div {
      padding: 20px;
    }
  }

  .tracksSection {
    width: 100%;
    height: 100vh;
    font-family: "Roboto Mono", sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
    justify-content: center;

    .trackList {
      margin-left: 30%;
    }

    ul {
      list-style: none;
      margin-top: 20px;
      padding: 0;

      li {
        font-size: 1rem;
        padding: 10px 20px;
        transition: transform 0.25s ease;
        transform-origin: center left;
        display: flex;
        justify-content: space-between;
        transition: transform 0.3s ease;

        label {
          font-size: 0.9rem;
        }

        &:hover {
          transform: scale(1.1);
          transition: transform 0.3s ease;
          font-weight: bold;
          cursor: default;
        }
      }
    }

    div {
      padding: 20px;
    }
  }

  .toursSection {
    width: 100%;
    height: 100vh;
    font-family: "Roboto Mono", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: black;

    h3 {
      margin-bottom: 5%;
    }

    .toursContainer {
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: center;
      gap: 60px;

      .tour {
        text-align: end;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        border-radius: 8px;
        overflow: hidden;

        .tourTextContainer {
          text-align: end;
          padding: 5px;
        }
        &:hover {
          transform: scale(1.05);
          transition: transform 0.3s ease;
          box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
          cursor: pointer;
        }
      }
    }
  }
}
